html {
  font-size: 17px;
}

/* top part heading */
header {
  display: flex;
  justify-content: space-between;
  height: 2.1em;
  max-width: 100%;
}

header img {
  width: 2em;
  height: 2em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header0 {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 0.8em;
  color: #000000;
}

.header1 {
  font-size: 1.2em;
  color: #000000;
}

@media only screen and (max-device-width: 900px) {
  .header0 {
    display: none;
  }
  .header1 {
    display: none;
  }
}


.header2 {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #737373;
}

/* Language Menu */
#lang-switch {
  position: relative;
  top: 10%;
  font-size: 0.5em;
  width: auto;
  height: 2em;
}

/* Submenu heading */
.dropbtn {
	background-color: transparent;
	color: #02CD02;
	margin-top: -20%;
	font-size: 1.9em;
	border: none;
  cursor: pointer;
	font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #737373;
  top: 100%;
  right: 0;
  width: 5em;
  box-shadow: 0em 0.2em 1em 0em rgba(0,0,0,0.2);
	z-index: 1;
	opacity: 0.7;
}

.ENdropdown {
  font-size: 0.8em;
}

.dropdown-content a {
  display: flex;
	color: white;
	padding: 0.5em 0.7em;
	text-decoration: none;
	font-size: 0.5em;
	font-weight: bold;
	border-bottom: 2px solid white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropdown-content a:link {
  color: white;
}

.dropdown-content a:visited {
  color: white;
}

.dropdown-content a:active {
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  width: 10em;
  font-size: 0.5em;
	font-weight: bold;
	color: white;
}

/* middle header */
@media only screen and (min-device-width: 900px) {
#headerpic {
  width: 100%;
  background-image: url('Images/Home Page/Header.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: block;
 }
}


#name {
  background-color: #02CD02;
  display: flex;
  align-items: center;
  height: 4em;
  max-width: 100%;
}

.column {
  flex: 50%;
  width: 100$;
}

#hospitalname {
  margin-left: 0.8em;
  font-size: 1.2em;
  color: #FFFFFF;
}

#phone {
  border-left: solid white 2px;
  padding-left: 0.6em;
  font-size: 1.1em;
  color: #FFFFFF;
}


.infobox {
  margin-top: 3em;
  display: flex;
  border: 4px solid gray;
  flex-direction: column;
  width: 66.67%;
  margin-left: auto;
  margin-right: auto;
}
/*announcement --> */

.ancontent {
  background-color: white;
  color: black;
  border: none;
  text-align: left;
  outline: none;
  font-size: .6em;
  border-top: 3px solid gray;
}

.ancontent p {
  margin: .7em 0em .7em .7em;
}

/* Bottom Heading --> */
#bottomHeading {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 2em;
  background-color: #02CD02;
  font-size: 0.8em;
  color: #FFFFFF;
  text-align: center;
}
