html {
  font-size: 17px;
}

/* top part heading */
header {
  display: flex;
  justify-content: space-between;
  height: 2.1em;
  max-width: 100%;
}

header img {
  width: 2em;
  height: 2em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header0 {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 0.8em;
  color: #000000;
}

.header1 {
  font-size: 1.2em;
  color: #000000;
}

@media only screen and (max-device-width: 900px) {
  .header0 {
    display: none;
  }
  .header1 {
    display: none;
  }
}


.header2 {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #737373;
}

/* Language Menu */
#lang-switch {
  position: relative;
  top: 10%;
  font-size: 0.5em;
  width: auto;
  height: 2em;
}

/* Submenu heading */
.dropbtn {
	background-color: transparent;
	color: #02CD02;
	margin-top: -20%;
	font-size: 1.9em;
	border: none;
  cursor: pointer;
	font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #737373;
  top: 100%;
  right: 0;
  width: 10em;
  box-shadow: 0em 0.2em 1em 0em rgba(0,0,0,0.2);
	z-index: 1;
	opacity: 0.7;
}

.ENdropdown {
  font-size: 0.8em;
}

.dropdown-content a {
  display: flex;
	color: white;
	padding: 0.5em 0.7em;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	border-bottom: 2px solid white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropdown-content a:link {
  color: white;
}

.dropdown-content a:visited {
  color: white;
}

.dropdown-content a:active {
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  width: 10em;
  font-size: 1em;
	font-weight: bold;
	color: white;
}

/* middle header */
@media only screen and (min-device-width: 900px) {
#headerpic {
  width: 100%;
  background-image: url('Images/Home Page/Header.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: block;
 }
}


#name {
  background-color: #02CD02;
  display: flex;
  align-items: center;
  height: 4em;
  max-width: 100%;
}

.column {
  flex: 50%;
  width: 100$;
}

#hospitalname {
  margin-left: 0.8em;
  font-size: 1.2em;
  color: #FFFFFF;
}

#phone {
  border-left: solid white 2px;
  padding-left: 0.6em;
  font-size: 1.1em;
  color: #FFFFFF;
}

/*announcement --> */


table {
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid gray;
  border-spacing: 0em;
  cellpadding="0em";
  cellspacing="0em";
  border="0em";
  margin-top: 3em;
  font-size: .6em;
}
caption{
	background-color: gray;
	color: #FFFFFF;
	border-top: 9px solid gray;
	font-size: 1.6em;
}

td, th {
  border: 3px solid gray;
  text-align: left;
  border-left: 0em solid;
  border-right: 0em solid;
  padding-bottom: 1.2em;
  padding-top: 1.2em;
  cellpadding="0";
  cellspacing="0";
}

th {
	border-spacing: 1em;
}
/* Bottom Heading --> */
#bottomHeading {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 2em;
  background-color: #02CD02;
  font-size: 0.8em;
  color: #FFFFFF;
  text-align: center;
}

@media only screen and (max-device-width: 900px) {
table {
		width: 80%;
	}
#bottomHeading {
		margin-top: 18em;
	}
}
