html {
  font-size: 17px;
  font-family: sans-serif;
}

/* top part heading */
header {
  display: flex;
  justify-content: space-between;
  height: 2.1em;
  max-width: 100%;
}

header img {
  width: 2em;
  height: 2em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header0 {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 0.8em;
  color: #000000;
}

.header1 {
  font-size: 1.2em;
  color: #000000;
}

@media only screen and (max-device-width: 900px) {
  .header0 {
    display: none;
  }
  .header1 {
    display: none;
  }
}


.header2 {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #737373;
}

/* Language Menu */
#lang-switch {
  position: relative;
  top: 10%;
  font-size: 0.5em;
  width: auto;
  height: 2em;
}

/* Submenu heading */
.dropbtn {
	background-color: transparent;
	color: #02CD02;
	margin-top: -20%;
	font-size: 1.9em;
	border: none;
  cursor: pointer;
	font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #737373;
  top: 100%;
  right: 0;
  width: 10em;
  box-shadow: 0em 0.2em 1em 0em rgba(0,0,0,0.2);
	z-index: 1;
	opacity: 0.7;
}

.ENdropdown {
  font-size: 0.8em;
}

.dropdown-content a {
  display: flex;
	color: white;
	padding: 0.5em 0.7em;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	border-bottom: 2px solid white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropdown-content a:link {
  color: white;
}

.dropdown-content a:visited {
  color: white;
}

.dropdown-content a:active {
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  width: 10em;
  font-size: 1em;
	font-weight: bold;
	color: white;
}

/* middle header */
@media only screen and (min-device-width: 900px) {
#headerpic {
  width: 100%;
  background-image: url('Images/Home Page/Header.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: block;
 }
}


#name {
  background-color: #02CD02;
  display: flex;
  align-items: center;
  height: 4em;
  max-width: 100%;
}

.column {
  flex: 50%;
  width: 100$;
}

#hospitalname {
  margin-left: 0.8em;
  font-size: 1.2em;
  color: #FFFFFF;
}

#phone {
  border-left: solid white 2px;
  padding-left: 0.6em;
  font-size: 1.1em;
  color: #FFFFFF;
}

/* 3 pictures */
#pic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.album {
  width: 33.33%;
}

/* 3 Notice */
@media only screen and (min-device-width: 1022px) {
.notice {
  display: flex;
  border: 0.2em solid gray;
  position: relative;
  flex-direction: column;
  left: 15%;
  right: -25%;
  height: 7.5em;
  width: 70%;
  text-align: center;
  margin-bottom: 1em;
 }
}

@media only screen and (max-device-width: 1021px) {
  .notice {
    display: flex;
    border: 0.2em solid gray;
    position: relative;
    flex-direction: column;
    left: 10%;
    right: -25%;
    height: 8.2em;
    width: 80%;
    text-align: center;
    margin-bottom: 1em;
   }
}

.titlebar {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 0.6em;
  color: #FFFFFF;
  background-color: gray;
  height: 2em;
}

.titlebar p {
  position: relative;
  top: -50%;
}

.noticeContent {
  color: #000000;
  font-size: 0.55em;
  padding: 0.5em;
  padding-bottom: 0.01em;
}

.noticeButton a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  padding: 0.2em 1em;
  font-size: 0.6em;
  background-color: gray;
  height: 2em;
}

.noticeButton a:link {
  color: #FFFFFF;
}

.noticeButton a:visited {
  color: #FFFFFF;
}

.noticeButton a:hover {
  color: #FFFFFF;
}

.noticeButton a:active {
  color: #FFFFFF;
}

/* 1st Notice box FAQ */
@media only screen and (max-device-width: 498px) {
  #faqButton {
    margin-top: -0.5em;
  }
}

/* 2nd Notice box treatment */
@media only screen and (max-device-width: 561px) {
  #treatmentButton {
    margin-top: -0.5em;
  }
}

/* 3rd Notice box announcement */
.Announcement1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  text-align: left;
  margin-left: 1%;
}

.announcementContent {
  margin-left: 1%;
}

@media only screen and (min-device-width: 600px) {
  #announcementButton {
    margin-top: 0.05em;
  }
}

/* Interactive Map */
#map {
  display: inline-block;
  width: 100%;
  height: 480px;
  text-align: center;
}

@media only screen and (min-device-width: 562px) {
.address {
  margin-top: 40px;
  font-size: 24px;
  color: #737373;
 }
}

@media only screen and (max-device-width: 561px) {
  .address {
    margin-top: 40px;
    font-size: 0.9em;
    color: #737373;
  }
}

/* Schedule */
.Scheduleimg {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Tablelink */
table, th, td {
  border: 0.1em solid gray;
  border-collapse: collapse;
  margin-top: 2em;
}

@media only screen and (min-device-width: 900px) {
.tableheader {
  width: 25%;
  height: 1em;
  background-color: gray;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
  line-height: 50%;
 }

#linktable2 {
  display: none;
}

}

@media only screen and (max-device-width: 900px) {
  #linktable {
    display: none;
  }
}

.tablehira {
  font-weight: normal;
  font-size: 0.5em;
  line-height: 30%;
}

.tablelink a:link, a:visited, a:hover, a:active {
  width: 37.5%;
  text-decoration: none;
  padding: 0.1em 0.3em;
  font-size: 0.8em;
  color: gray;
  height: 2em;
  background-color: transparent;
}

.ENheader {
  font-size: 0.5em;
  line-height: 0;
}

.ENheader2 {
  font-size: 0.9em;
  line-height: 150%;
}

.ENsubheader {
  font-size: 0.9em;
}

/* Bottom Heading --> */
#bottomHeading {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 2em;
  background-color: #02CD02;
  font-size: 0.8em;
  color: #FFFFFF;
  text-align: center;
}
