html {
  font-size: 17px;
}

/* top part heading */
header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  max-width: 100%;
}

header img {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header0 {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 0.8em;
  color: #000000;
}

.header1 {
  font-size: 1.2em;
  color: #000000;
}

.header2 {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #737373;
}

/* middle header */
@media only screen and (min-device-width: 900px) {
#headerpic {
  width: 100%;
  background-image: url('Images/Home Page/Header.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: block;
 }
}


#name {
  background-color: #02CD02;
  display: flex;
  align-items: center;
  height: 115px;
  max-width: 100%;
}

.column {
  flex: 50%;
  width: 100$;
}

#hospitalname {
  margin-left: 0.8em;
  font-size: 1.2em;
  color: #FFFFFF;
}

#phone {
  border-left: solid white 2px;
  padding-left: 0.6em;
  font-size: 1.2em;
  color: #FFFFFF;
}

/* 3 pictures */
#pic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.album {
  width: 33.33%;
  margin-bottom: 60px;
}

/* 3 Notice */
.notice {
  display: flex;
  border: 0.2em solid gray;
  position: relative;
  flex-direction: column;
  left: 16.7%;
  right: -25%;
  height: 7.5em;
  width: 66.67%;
  text-align: center;
  margin-bottom: 20px;
}

.titlebar {
  font-size: 0.6em;
  color: #FFFFFF;
  background-color: gray;
  height: 2em;
}

.titlebar p {
  position: relative;
  top: -50%;
}

.noticeContent {
  color: #000000;
  font-size: 0.55em;
  padding: 0.5em;
  padding-bottom: 0.01em;
}

.noticeButton a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  padding: 0.2em 1em;
  font-size: 0.6em;
  color: #FFFFFF;
  background-color: gray;
  height: 2em;
}

/* Interactive Map */
#map {
  display: inline-block;
  width: 100%;
  height: 480px;
  text-align: center;
}

.address {
  margin-top: 40px;
  font-size: 24px;
  color: #737373;
}

/* Schedule */
.Scheduleimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
