html {
  font-size: 17px;
  font-family: sans-serif;
}

/* top part heading */
header {
  display: flex;
  justify-content: space-between;
  height: 2.1em;
  max-width: 100%;
}

header img {
  width: 2em;
  height: 2em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header0 {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 0.8em;
  color: #000000;
}

.header1 {
  font-size: 1.2em;
  color: #000000;
}

@media only screen and (max-device-width: 900px) {
  .header0 {
    display: none;
  }
  .header1 {
    display: none;
  }
}


.header2 {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #737373;
}

/* Language Menu */
#lang-switch {
  position: relative;
  top: 10%;
  font-size: 0.5em;
  width: auto;
  height: 2em;
}

/* Submenu heading */
.dropbtn {
	background-color: transparent;
	color: #02CD02;
	margin-top: -20%;
	font-size: 1.9em;
	border: none;
  cursor: pointer;
	font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #737373;
  top: 100%;
  right: 0;
  width: 10em;
  box-shadow: 0em 0.2em 1em 0em rgba(0,0,0,0.2);
	z-index: 1;
	opacity: 0.7;
}

.ENdropdown {
  font-size: 0.8em;
}

.dropdown-content a {
  display: flex;
	color: white;
	padding: 0.5em 0.7em;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	border-bottom: 2px solid white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropdown-content a:link {
  color: white;
}

.dropdown-content a:visited {
  color: white;
}

.dropdown-content a:active {
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  width: 10em;
  font-size: 1em;
	font-weight: bold;
	color: white;
}

/* middle header */
@media only screen and (min-device-width: 900px) {
#headerpic {
  width: 100%;
  background-image: url('Images/Home Page/Header.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: block;
 }
}


#name {
  background-color: #02CD02;
  display: flex;
  align-items: center;
  height: 4em;
  max-width: 100%;
}

.column {
  flex: 50%;
  width: 100$;
}

#hospitalname {
  margin-left: 0.8em;
  font-size: 1.2em;
  color: #FFFFFF;
}

#phone {
  border-left: solid white 2px;
  padding-left: 0.6em;
  font-size: 1.1em;
  color: #FFFFFF;
}

/* Title */
#Title {
  border: 0.1em solid #737373;
  margin-top: 1em;
  display: flex;
  background-color: white;
  position: relative;
  left: 10%;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 80%;
  font-size: 1.2em;
  color: #737373;
  margin-bottom: 1em;
}

/* List box */
@media screen and (min-width: 900px) {
 .boxRow {
   position: relative;
   left: 7%;
   display: flex;
   width: 80%;
   height: auto;
   gap: 12%;
 }
}

@media screen and (max-width: 899px) {
.boxRow {
  position: relative;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  gap: 13%;
 }
}

@media screen and (min-width: 900px) {
.listContainer {
  float: left;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: 5%;
  height: 12em;
  width: 48%;
  border: 0.1em solid #02CD02;
  border-radius: 0.5em;
 }
}

@media screen and (max-width: 899px) {
.listContainer {
  float: left;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 12em;
  width: 70%;
  border: 0.1em solid #02CD02;
  border-radius: 0.5em;
}
}
.top-left {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -11%;
  top: -11%;
  border-radius: 3em;
  background-color: #02CD02;
  width: 3em;
  height: 3em;
  margin: 0.5em;
}

.aligner {
  position: relative;
  top: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
  line-height: 70%;
}

.Kanji {
  font-size: 1.8em;
}

.KanjiHira {
  font-size: 0.3em;
}

.listContent {
  display: flex;
  position: relative;
  top: -19%;
  margin-left: 4%;
  font-size: 0.69em;
  font-weight: bold;
}

.extra {
  display: flex;
  position: relative;
  left: 7.5%;
  max-width: 80%;
  font-size: 0.8em;
  font-weight: none;
}

@media screen and (min-width: 1197px) {
.extra2 {
  display: flex;
  position: relative;
  left: 7%;
  max-width: 85%;
  font-size: 0.8em;
  font-weight: normal;
 }
}

@media screen and (max-width: 1196px) {
.extra2 {
  display: flex;
  position: relative;
  font-size: 0.8em;
  max-width: 95%;
 }
}

/* Bottom Heading --> */
#bottomHeading {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 2em;
  background-color: #02CD02;
  font-size: 0.8em;
  color: #FFFFFF;
  text-align: center;
}
